<div class="container">
  <div class="painel">
    AD VILA ALPINA 
  </div>
  <H2 class="titulo">Em cada contribuição um gesto de gratidão, fé e amor</H2>
  <div class="main" >
    <h4>Selecione um item:</h4>
    <div class="container-icones">
      <div class="icones">
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="contribuicoes"></mat-icon>
          <span style="text-decoration: underline;">Contribuições</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="contribuicoes"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">Ofertas</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="contribuicoes"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">Contribuições</span>
          <span style="text-decoration: underline; text-align: center;">com meta</span>
        </div>
      </div>
    </div>
    <button class="btn">Voltar</button>
  </div>
</div>
