<div class="container">
  <div class="painel">
    AD VILA ALPINA 
  </div>
  <H2 class="titulo">Como deseja continuar?</H2>
  <div class="main" >
    <h4>Escolha uma categoria:</h4>
    <div class="container-valor">
      <h2>Informe o valor</h2>
      
      <div class="keypad">
        <div class="key">1<br><span>OP</span></div>
        <div class="key">2<br><span>ABC</span></div>
        <div class="key">3<br><span>DEF</span></div>
        <div class="key">4<br><span>GH</span></div>
        <div class="key">5<br><span>JKL</span></div>
        <div class="key">6<br><span>MNO</span></div>
        <div class="key">7<br><span>PQRS</span></div>
        <div class="key">8<br><span>TUV</span></div>
        <div class="key">9<br><span>WXYZ</span></div>
        <div class="key">*</div>
        <div class="key">0</div>
        <div class="key">#</div>
      </div>
    
      <p>Comentários</p>
    
      <div class="button-container">
        <button class="button secondary">VOLTAR</button>
        <button class="button primary">CONFIRMAR</button>
      </div>
    </div>
    
    
  </div>
</div>
