<div class="container">
  <div class="painel">
    AD VILA ALPINA 
  </div>
  <H2 class="titulo">Congregação: <span style="font-size: 20px;">12- Vila Cardoso Franco</span></H2>
  <div class="main" >
    <h4>Selecione um item:</h4>
    <div class="container-icones">
      <div class="icones">
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="congregacoes"></mat-icon>
          <span style="text-decoration: underline;">Fechamento</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="congregacoes"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">Missões</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="congregacoes"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">Jornal</span>
        </div>
      </div>
      <div class="icones">
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="congregacoes"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">CIBEN</span>
          <span style="text-decoration: underline; text-align: center;">Congregações</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="congregacoes"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">Ampliação</span>
          <span style="text-decoration: underline; text-align: center;">Templo</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="congregacoes"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">Revistas</span>
          <span style="text-decoration: underline; text-align: center;">EBD</span>
        </div>
      </div>
    </div>
    <button class="btn">Voltar</button>
  </div>
</div>
