<div class="container">
  <div class="painel">
    AD VILA ALPINA 
  </div>
  <H2 class="titulo">Sua doação em um clique</H2>
  <div class="main" >
    <h4>Escolha uma categoria:</h4>
    <div class="container-icones">
      <div class="icones">
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="contribuicoes"></mat-icon>
          <span style="text-decoration: underline;">Contribuições</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="pagamentos"></mat-icon>
          <span style="text-decoration: underline;">Pagamentos</span>
        </div>
      </div>
      <div class="icones">
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="congregacoes"></mat-icon>
          <span style="text-decoration: underline;">Congregações</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="obreiros"></mat-icon>
          <span style="text-decoration: underline; margin-left: 20px;">Obreiros</span>
        </div>
      </div>
    </div>
  </div>
</div>
