<div class="container">
  <div class="painel">
    AD VILA ALPINA 
  </div>
  <H2 class="titulo">Como deseja continuar?</H2>
  <div class="main" >
    <h4>Escolha uma categoria:</h4>
    <div class="card-container">
      <div class="card">
        <p>Digite seu CPF para identificação</p>
        <div class="cpf-input">- - - - - - - -</div>
        <button class="button primary">CONTINUAR COM CPF</button>
      </div>
      <div class="card">
        <p>Continue sem identificação</p>
        <button class="button secondary" style="margin-top: 45px;">CONTINUAR SEM CPF</button>
      </div>
    </div>
    
  </div>
</div>
