<div class="container">
  <div class="painel">
    AD VILA ALPINA 
  </div>
  <H2 class="titulo">Como deseja continuar?</H2>
  <div class="main" >
    <div class="container-carrinho">
      <button class="btn-add">ADICIONAR ITENS</button>
      
      <table class="table-items">
        <thead>
          <tr>
            <th>Item</th>
            <th>Valor</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="vertical-align-center"><mat-icon class="icon-size" svgIcon="obreiros"></mat-icon><p>CONEMAD Estadual</p></td>
            <td>R$ 30,00</td>
            <td>
              <button class="btn-quantity decrement">&#8722;</button>
              <span style="padding: 15px;">1</span>
              <button class="btn-quantity increment">&#43;</button>
            </td>
          </tr>
          <tr>
            <td class="vertical-align-center"><mat-icon class="icon-size" svgIcon="obreiros"></mat-icon><p>Convenção Anualidade</p></td>
            <td>R$ 30,00</td>
            <td>
              <button class="btn-quantity decrement">&#8722;</button>
              <span style="padding: 15px;">1</span>
              <button class="btn-quantity increment">&#43;</button>
            </td>
          </tr>
          <tr>
            <td class="vertical-align-center"><mat-icon class="icon-size" svgIcon="obreiros"></mat-icon><p>Crianças</p></td>
            <td>R$ 100,00</td>
            <td>
              <button class="btn-quantity decrement">&#8722;</button>
              <span style="padding: 15px;">1</span>
              <button class="btn-quantity increment">&#43;</button>
            </td>
          </tr>
        </tbody>
      </table>
    
      <div class="total">Total R$ 160,00</div>
      
      <button class="btn-finalize">FINALIZAR PAGAMENTO</button>
    </div>
    
  </div>
</div>
