<div class="container">
  <div class="painel">
    AD VILA ALPINA 
  </div>
  <H2 class="titulo">Pague de uma forma fácil, rápida e segura</H2>
  <div class="main" >
    <h4>Selecione um item:</h4>
    <div class="container-icones">
      <div class="icones">
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="pagamentos"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">Camisetas</span>
          <span style="text-decoration: underline; text-align: center;">UFADCAVAL</span>
          <span style="font-weight: bold; text-align: center; margin-top: 20px; font-size: 20px;">R$ 30,00</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="pagamentos"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">Convenção</span>
          <span style="text-decoration: underline; text-align: center;">2025</span>
          <span style="font-weight: bold; text-align: center; margin-top: 20px; font-size: 20px;">R$ 100,00</span>
        </div>
        <div style="display: flex; flex-direction: column;">
          <mat-icon class="icon-size" svgIcon="pagamentos"></mat-icon>
          <span style="text-decoration: underline; text-align: center;">EBOM</span>
          <span style="text-decoration: underline; text-align: center;">2025</span>
          <span style="font-weight: bold; text-align: center; margin-top: 20px; font-size: 20px;">R$ 40,00</span>
        </div>
      </div>
    </div>
    <button class="btn">Voltar</button>
  </div>
</div>
